*.class
*.jar
*.suite
*.metadata
*.sym
*.nblh~
/build/
/suite/
bin/
*.cmake
CMakeFiles/
CMakeCache.txt
*.so
*.pyc
*~
*.png
*.json
*.bak.xml
*.ps
nbproject/private/
/smartdashboard/MessageConsole/nbproject/private/
/smartdashboard/MessageConsole/dist/
/smartdashboard/MessageConsole/build/